<div class="ui center aligned container">
  <% if current_user.present? %>
      <% if current_user.city.present? %>
          <%= concept('weather/cell/daily_weather', nil, {city: current_user.city}) %>
      <%else%>
          <%= concept('city/cell/create_city_settings', nil) %>
      <%end%>
  <%else%>
      <h1 class="ui centered header">
        Welcome to weather tracking app!
      </h1>
      <p>Log In please</p>
  <%end%>
</div>