<div class="ui Brown inverted segment main_header">
  <div class="ui inverted secondary menu">
    <a class="item">
      <%= link_to image_tag('logo.png', size: "160x70"), root_path%>
    </a>
    <div class="right item">
      <% @elements.each do |element| %>
          <%= link_to element[:name], element[:path], class: 'ui item button'%>
      <%end%>
    </div>
  </div>
</div>