<div class="ui green inverted segment">
  <div class="ui inverted secondary menu">
    <a class="item">
      <%= link_to 'WeatherTrackingApp', root_path, class: 'site_name'%>
    </a>
    <div class="right item">
      <% @elements.each do |element| %>
          <%= link_to element[:name], element[:path], class: 'ui item button'%>
      <%end%>
    </div>
  </div>
</div>