<h1 class="ui centered header">
  Welcome to weather tracking app!
</h1>
<p>One thing than you need to do is to select a city!</p>
<%= link_to "Let's Start!", new_city_path, class: 'large ui button buttons_color'%>