@import "semantic-ui";
@import "welcome";
@import "weather";

.main_header{
  opacity: 0.8;
}

.main_color{
  color: #36506b !important;
}
.buttons_color {
  background-color: #36506b !important;
  color: white !important;
}