@import "semantic-ui";
@import "welcome";
@import "weather";

.site_name {
  padding-left: 0 !important;
  font-size: 30px;
  &:hover {
    background: none !important;
  }
  font-weight: bold !important;
}
